section {
    display: flex;
}
.button {
    background-color: rgb(27, 75, 147);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transform: scale(0.8);
    opacity: 0.5;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.button:hover {
    transform: scale(1);
    opacity: 1;
}
img {
    transition: transform 500ms ease-in-out;
}
img:hover {
    transform: translateY(30px);
}