main {
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form p {
    max-width: 500px;
}

#contact form select, #contact form textarea {
    width: 100%;
}
